html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

/*Globales*/
img {
  max-width: 100%;
}
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

/*header*/
.barra {
  text-align: center;
}

@media (min-width: 768px) {
  .barra {
    display: flex;
    justify-content: space-between;
    border-bottom: 1rem solid #000;
  }
}

.logo {
  font-size: 3rem;
  padding: 0;
}

.logo h3 {
  margin: 0;
}

.navegacion {
  background-color: #000;
  display: flex;
  flex-direction: column;
}

.navegacion a {
  color:#fff;
  cursor: pointer;
  text-decoration: none;
  padding: 1rem;
}

@media (min-width: 768px) {
  .navegacion {
    background-color: #fff;
    display: flex;
    flex-direction: row;
  }

  .navegacion.activo {
    left: 0;
  }

  .navegacion a {
    color: #000;
  }

  .menu {
    display: none;
  }
}
/*Main*/

.menu-principal {
  text-align: center;
}

h1 {
  margin: 1rem 0 0 0;
}
h2 {
  color: rgb(39, 51, 51);
  margin: 0;
}

@media (min-width: 768px) {
  .contenido-principal {
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  h1 {
    font-size: 5rem;
  }
  .imagen {
    width: 60rem;
  }

  .info {
    width: 50rem;
  }

  .boton {
    display: inline-block;
    padding: .5rem;
    border-radius: 5rem;
    text-align: center;
  }
}

.boton {
  background-color: #000000;
  display: block;
  padding: 1rem;
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
}

.imagen {
  margin-top: 2rem;
}
